<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>登陆页面</h1>
   	<% for(var i=0;i<msg.length;i++) { %>
    	<div>姓名:<span><%= msg[i].name %></span></div>
    	<div>年龄:<span><%= msg[i].age %></span></div>
    <% } %>
</body>
</html>
